{% extends 'layout.twig' %}
{% block styles %}
  <link rel="stylesheet" href="./app/tcc/formulario.css">
{% endblock %}
{% block content %}
    <h3>{{ titulo }}</h3>
    <form id="form-js">
        <input type="hidden" name="alunoSelecionado" value="" id="alunoSelecionado" />
        {% if id is defined %}
        <input type="hidden" name="id" value="{{ id }}" id="id" />
        {% endif %}
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group group-titulo">
                    <label class="control-label" for="titulo">Titulo</label>
                    <input type="text" class="form-control" name="titulo" id="titulo" value="{{ values.titulo }}" placeholder="Digite o título...">
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group group-aluno">
                    <label class="control-label" for="aluno">Aluno</label>
                    <input type="text" class="form-control typeahead pessoas-js" name="aluno" id="aluno" placeholder="Digite o nome..." size="100%" value="{{ values.aluno }}">
                    <span class="help-block"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group group-semestre">
                    <label class="control-label" for="semestre">Semestre</label>
                    <select class="form-control" id="semestre">
                        <option value="">Selecione um semestre...</option>
                        {% for semestre in listarSemestres %}
                            <option value="{{ semestre.getId() }}" {{ values.semestre == semestre.getId() ? 'selected' : '' }}>{{ semestre.getNome() }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group group-disciplina">
                    <label class="control-label" for="disciplina">Disciplina</label>
                    <select class="form-control" id="disciplina">
                        <option value="">Selecione uma disciplina...</option>
                        <option value="1" {{ values.disciplina == 1 ? 'selected' : '' }}>TCC 1</option>
                        <option value="2" {{ values.disciplina == 2 ? 'selected' : '' }}>TCC 2</option>
                    </select>
                    <span class="help-block"></span>
                </div>
            </div>
        </div>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group group-banca">
					<label for="basic-url">Banca</label>
					<div class="input-group">
						<div class="input-container form-control">
							<input type="text" class="form-control typeahead professor-js" name="professor" id="professor" placeholder="Digite o nome..." size="100%">
						</div>
						<div class="input-group-btn">
							<button class="btn btn-success btn-add-banca" type="button" data-tipo="{{ tipo.orientador }}"><i class="fa fa-plus"></i><span class="hidden-xs"> Adicionar Orientador</span></button>
							<button class="btn btn-success btn-add-banca" type="button" data-tipo="{{ tipo.banca }}"><i class="fa fa-plus"></i><span class="hidden-xs"> Adicionar Banca</span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<ul class="list-group" id="banca-list">
					{% if banca|length > 0 %}
						{% for tccProfessor in banca %}
							<li id="tccprofessor-{{ tccProfessor.getId() }}" class="list-group-item">
								{{ tccProfessor.getProfessor().getPessoa().getNome() }}
								<div class="pull-right">
									<button type="button" class="btn btn-danger btn-xs excluir-professor-js" data-id="{{ tccProfessor.getId() }}">
										<i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
										<span class="hidden-xs">Excluir</span>
									</button>
								</div>
							</li>
						{% endfor %}
					{% endif %}
				</ul>
			</div>
		</div>
        <div class="row">
            <div class="col-xs-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Salvar</button>
            </div>
            <div class="col-xs-2">
                <a href="./tcc/" class="btn btn-default btn-lg btn-block">Cancelar</a>
            </div>
        </div>
    </form>
	<li class="list-group-item modelo-item-banca">
		<div class="pull-right">
			<button type="button" class="btn btn-danger btn-xs excluir-professor-js">
				<i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
				<span class="hidden-xs">Excluir</span>
			</button>
		</div>
	</li>

{% endblock %}
{% block scripts %}
    <script>
         var alunos = JSON.parse("{{listaAlunos}}".replace(/&quot;/g,'"'));
		 var professores = JSON.parse("{{listaProfessores}}".replace(/&quot;/g,'"'));
    </script>
    <script src="./app/shared/jquery-mask-plugin.js"></script>
    <script src="./app/tcc/formulario.js"></script>
    <script src="./lib/typeahead/typeahead.bundle.min.js"></script>
{% endblock %}
