{% extends "layout.twig" %}
{% block styles %}
  <link rel="stylesheet" href="./app/enviaretapa/enviar.css">
{% endblock %}
{% block content %}
  <div class="row">
	  <div class="col-sm-12 col-xs-12">
		  <h3>{{ titulo }}</h3>
	  </div>
  </div>
  {% if etapas|length > 0 %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Data Limite</th>
				<th>Nota/Peso</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for etapa in etapas %}
				<tr>
					<td>{{ etapa.nome }}
						{% if etapa.id in etapas_status|keys %}
							<span class="label
								{% if etapas_status[etapa.id].getId() == 1 %}
									label-danger
								{% elseif etapas_status[etapa.id].getId() == 2 %}
									label-warning
								{% elseif etapas_status[etapa.id].getId() == 3 %}
									label-success
								{% elseif etapas_status[etapa.id].getId() == 4 %}
									label-info
								{% elseif etapas_status[etapa.id].getId() == 5 %}
									label-primary
								{% else %}
									label-default
								{% endif %}
								">{{ etapas_status[etapa.id].getNome() }}</span>
						{% endif %}
					</td>
					<td>{{ etapa.getDataFim()|date('d/m/Y') }}</td>
					<td>
						{% if etapa.id in etapas_nota|keys %}
							{{ etapas_nota[etapa.id].getNota() }}/{{ etapa.peso }}
						{% else %}
							0/{{ etapa.peso }}
						{% endif %}
					</td>
					<td>
						<div class="pull-right">
							<a href="enviaretapa/enviar/{{ etapa.id }}/" class="btn btn-warning btn-xs">
								{% if etapa.getDataInicio() > data_atual or etapa.getDataFim() < data_atual %}
									<i class="fa fa-search fa-lg"></i><span class="hidden-xs"> Consultar</span>
								{% else %}
									{% if etapa.id in etapas_status|keys %}
										<i class="fa fa-pencil fa-lg"></i><span class="hidden-xs"> Editar</span>
									{% else %}
										<i class="fa fa-send-o fa-lg"></i><span class="hidden-xs"> Enviar</span>
									{% endif %}
								{% endif %}
							</a>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
  {% else %}
	<div class="alert alert-danger" role="alert">Não existem etapas cadastradas! Contate o Administrador.</div>
  {% endif %}

{% endblock %}
{% block scripts %}
{% endblock %}
